<div class="container-fluid">
  <div class="mb-3">
    <label>Valor presente (em R$):</label>
    <input
      class="form-control"
      id="formGroupInput"
      type="number"
      step="0.01"
      [(ngModel)]="vp"
    />
  </div>

  <label>Juros (em %):</label>
  <input
    class="form-control"
    id="formGroupInput"
    type="number"
    step="0.01"
    [(ngModel)]="j"
  />

  <label>Período (em meses):</label>
  <input
    class="form-control"
    id="formGroupInput"
    type="number"
    step="1"
    [(ngModel)]="n"
  />
  <br />
  <h3>Valor futuro (em R$):</h3>
  <p>{{ getJuros() }}</p>
</div>
